# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
# If you are using PyCharm #
# User-specific stuff
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea1
ImportTAF/sources_tec/image
ImportTAF/sources_tec/image/
image/
converted_db/
export_brand/
export_brand.txt
db.sqlite3-journal
venv