{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BrixoRP</title>
      <link rel="stylesheet" href="{% static 'main.css' %}" data-n-g="">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="search_report container">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'visit-to-tt-list' %}"><img src="{% static 'img/app2/logotype.svg' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
              <div class="me-auto"></div>
              <form class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit" id="printButton">Экспорт в PDF</button>
              </form>
            </div>
          </div>
        </nav>
    </div>
    {% for report in reports_users %}
        <div class="container-may bg-red a4-container">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="{% static 'img/app2/logotype-white.svg' %}" alt=""></a>
            </div>
          </nav>
          <div class="row align-items-center content-center_start d-flex flex-column" style="padding-top: 10rem; color: #fff !important;">
            <h1 class="fw-bold">Итоги работы.</h1>
            <h3>на {{ report.month|date:"F Y" }}</h3>
            <div class="card mb-3 bg-red" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                    {% if report.user_profile__photo %}
                        <img src="/image/{{ report.user_profile__photo }}" class="img-fluid rounded-start" style="padding-left: 0 !important;" alt="...">
                    {% else %}
                        <p>No photo available</p>
                    {% endif %}
                </div>
                <div class="col-md-8 py-2">
                  <div class="card-body" style="color: #fff !important; text-align: start">
                    <h5 class="card-title">{{ report.user_profile__user__first_name }}</h5>
                    <p class="card-text">Региональный Представитель:</p>
                    <p class="card-text"><small>{{ report.user_profile__workplace }}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-may bg-second a4-container content-center">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{% static 'img/app2/logotype.svg' %}" alt=""></a>
              </div>
            </nav>
            <hr>
            <h5 class="fw-bold">Посещение ТТ:</h5>
            <div style="padding-top: 7rem">

                <div class="row">
                    <div class="col-lg-2">
                        <h1 class="fw-bold">{{ report.visits }}</h1>
                        <h6 class="fw-bold">Визитов (ТТ) в июле:</h6>
                    </div>
                    <div class="col-lg-3">
                        <h1>{{ report.retail }}</h1>
                        <h6>Розничных ТТ</h6>
                        <h1>{{ report.sto }}</h1>
                        <h6>СТО</h6>
                    </div>
                    <div class="col-lg-3">
                        <h1>{{ report.retail_buy_SAKURA_and_have }}</h1>
                        <h6>Закупают SAKURA и есть в наличии</h6>
                        <h1>{{ report.sto_buy_SAKURA_and_have }}</h1>
                        <h6>Закупают SAKURA и есть в наличии</h6>
                    </div>
                    <div class="col-lg-3">
                        <h1>{{ report.retail_dont_buy_SAKURA_and_have }}</h1>
                        <h6>Не закупают SAKURA или только под заказ</h6>
                        <h1>{{ report.sto_dont_buy_SAKURA_and_have }}</h1>
                        <h6>Не закупают SAKURA или только под заказ</h6>
                    </div>
                </div>
            </div>
        </div>
        {% for entry in text_sliders_dict %}
            {% if entry.id == report.id %}
                {% for slider in entry.text_sliders %}
                <div class="container-may bg-second may-mt-3 a4-container content-center">
                    <nav class="navbar navbar-expand-lg">
                      <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="{% static 'img/app2/logotype.svg' %}" alt=""></a>
                      </div>
                    </nav>
                    <hr>
                    <h6 class="fw-bold">{{ slider.title }}</h6>
{#                      <ol class="list-group list-group-numbered bg-second">#}
{#                          <li class="list-group-item">{{ slider.text }}</li>#}
{#                    </ol>#}
                    <p>{{ slider.text }}</p>
                    <img src="/image/{{ slider.text_image }}" class="img-fluid" alt="...">
                </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for entry in image_sliders_dict %}
            {% if entry.id == report.id %}
                {% for slider in entry.image_sliders %}
                <div class="container-may bg-second may-mt-3 a4-container content-center">
                    <nav class="navbar navbar-expand-lg">
                      <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="{% static 'img/app2/logotype.svg' %}" alt=""></a>
                      </div>
                    </nav>
                    <hr>
                    <h6 class="fw-bold">{{ slider.title }}</h6>
                    <img src="/media/{{ slider.image }}" class="img-fluid" alt="...">
                </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

    {% endfor %}
  {% block javascript %}
  <script>
    document.getElementById('printButton').addEventListener('click', function() {
        window.print();
    });
     document.addEventListener("DOMContentLoaded", function () {
        const date_report = document.getElementById("date_report");
        const btn_date = document.getElementById("btn_date");
        btn_date.addEventListener("click", function (event) {
            event.preventDefault();
            const start = date_report.value;
            console.log(start)
            window.history.pushState({}, "", `/report/?date=${start}`);
            location.reload();
        });
    });
  </script>
  {% endblock %}
  </body>
</html>