.bg-red {
    background-color: #CA003D !important;
}

.bg-second {
    background-color: rgba(149, 157, 168, 0.3) !important;
}

.may-mt-3 {
    margin-top: 1rem;
}

.container-may {
    margin: 4rem;
    padding: 3rem;
    height: 100vh;
}

.card {
    padding: 0 !important;
}


.content-center_start {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vertical-line {
    border-left: 2px solid #000;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.a4-container {
    height: 100vh;
    page-break-before: always;
    overflow: auto;
}

@media print {
    .a4-container {
        width: 100vw;
        height: 100vh;
        page-break-before: always;
        overflow: auto;
    }
    .may-mt-3 {
        margin-top: 0 !important;
    }

    .container-may {
        margin: 0 !important;
        border: 0 !important;
    }

    .search_report {
        display: none !important;
    }
    .body {
        transform: rotate(0deg);
        size: A4;
        page-break-before: auto;
        page-break-inside: auto;
        page-break-after: auto;
        page: auto;
    }
}